@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

* {margin: 0; padding: 0; border: 0; box-sizing: border-box; transition: all 0.3s;}
a {text-decoration: none; color: black; cursor: pointer;}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.42857143;
}

.wrapper__body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

header {
  background: #494d55;
  color: rgba(255, 255, 255, 0.85);
  padding: 3.7rem 0;
  border-top: 5px solid #40babd;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.header__logo {
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  font-size: 2.375rem;
  line-height: 1.1;
}

.logo_icon::before {
  content: '';
  background-image: url('../image/document.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 2rem;
  width:2rem;
}

.logo_1part {
  color: #40babd;
  font-weight: 500;
}

.logo_2part {
  font-weight: 800;
}

.header__text {
  font-weight: 600;
  font-size: 1.25rem;
  padding-bottom: 1.875rem;
}

.header__text p {
  margin-bottom: 0.5rem;
}

.pink_heart {
  color: #EA5395;
}

.header__sotial {
  display: inline-block;
}

.sotial_facebook {
  background-color:#1d9bf0 ; 
  padding: 0.1rem 0.8rem;
  border-radius: 11px/11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sotial_facebook:hover {
  background-color:#0470b8;
}

.sotial_facebook a {
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
 }

.tweet::before {
  content: '';
  background-image: url('../image/twitter.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 0.5rem;
  width: 0.8rem
}

main {
  flex: 1 0 auto;
  background: #f9f9fb;
  }

.main_container {
  padding: 3.75rem 0;
}

  article, section {
    max-width: 50rem;
    margin: 0 auto;
    color: #616670;
  }

  article {
    margin-bottom: 3.75rem;
    font-size: 0.857rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #494d55;
  }

 article p {
  margin-bottom: 1.875rem; 
 }

.download_btn {
  padding: 0.5rem 1rem;
  background: #40babd;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  border-radius: 4px;
}

.download_btn:hover {
  background: #089d9f;
}

.download_btn a {
  color: white;
}

.download_icon::before {
  content: '';
  background-image: url('../image/cloud-arrow-down-solid.svg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 0.8rem;
  width: 1rem;
  margin-right: 5px;
}

section {
  max-width: 53.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 17.91rem;
  padding: 0 15px;
  margin-bottom: 30px;
}

.card_inner {
  min-height: 16.375rem;
  padding: 45px 30px;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.card_inner:hover {
  background: #f5f5f5;
}

.card_inner img {
  height: 2.25rem;
  margin-bottom: 15px;
}

.card_inner h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #494d55;
  margin-bottom: 15px;
  line-height: 1.1;
}

.card_inner p {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-bottom: 15px;
  color: #616670;
}

.card_green {
  border-top: 3px solid #75c181;
}

.card_pink {
  border-top: 3px solid #EA5395;
}

.card_blue {
  border-top: 3px solid #58bbee;
}

.card_purple {
  border-top: 3px solid #8A40A7;
}

.card_bluegreen {
  border-top: 3px solid #40babd;
}

.card_orange {
  border-top: 3px solid #F88C30;
}

footer {
  background-color: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.9375rem 0;
  flex-shrink: 0;
}

.footer__text {
  font-size: 0.75rem;
}

.footer__text a {
  color: #40babd;
}

.footer__text a:hover {
  text-decoration: underline;
}